/**
* General
**/
.content{
    text-align: justify;
}
.copyright {
    font-size: 12px;
}
.copyright a{
    color: #777;
}
.copyright a:hover {
    color: #777;
}

/**
* Home
**/
.homepage-content p {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.homepage-content button {
    color: var(--accent);
    font-weight: bold;
    font-size: 16px;
}
.logo {
    height: 100%;
}


.mentors-actual h4 {
    color: var(--accent);
    margin-top: 0px;
}
.mentors-actual h3 {
    text-align: right;
}
.mentors-actual .row {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mentors-old h3 {
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.mentors-old h5 {
    color: var(--accent);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.mentors-old img {
    height: 100px;
}
